:root {
    --charcoal: #264653;
    --persian-green: #2a9d8f;
    --orange-yellow: #e9c46a;
    --sandy-brown: #f4a261;
    --burnt-sienna: #e76f51;
}

* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

html, body {
    margin: 0;
    padding: 0;
}

.header {
    display: flex;
    background-color: var(--charcoal);
    padding: 4px 2px;
    border-bottom: 8px solid var(--persian-green);
    color: var(--sandy-brown);
    overflow: auto;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.header h1 {
    margin-left: 20px;
}

.header ul {
    display: flex;
    list-style-type: none;
    padding: 0;
}

.header ul li {
    display: inline;
    margin-right: 20px;
    font-size: 20px;
}

.header ul li a{
    color: var(--sandy-brown);
    text-decoration: none;
}

main {
    display: flex;
    flex-wrap: wrap;

}

.about-me {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 60%;
}

.about-me img {
    display: flex;
    margin-left: 40%;
    width: 20%;
}

.portfolio {
    display: flex;
    width: 40%;
    flex-direction: column;
    flex-wrap: wrap;
}

.portfolio h2 {
    text-align: center;
}

.first-project-row {
    display: flex;
    padding: 10px;
    flex-direction: row;
    flex-wrap: wrap;
}

.first-project {
    display: flex;
    background-color: var(--charcoal);
    color: var(--sandy-brown);
    padding: 10px;
    width: 20%;
    margin: 0;
    flex-wrap: wrap;
}

.first-project-anchor {
    display: flex;
    width: 60%;
    flex-wrap: wrap;
}

.portfolio-img {
    display: flex;
    justify-content: center;
    height: 100%;
    width: 100%;
    border: 4px solid var(--persian-green);
    flex-wrap: wrap;
}

.second-projects {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}

.railway-express, .adventurers {
    display: flex;
    padding: 10px;
    flex-direction: row;
    flex-wrap: wrap;
    width: 50%;
}

.second-row {
    display: flex;
    background-color: var(--charcoal);
    color: var(--sandy-brown);
    padding: 10px;
    width: 50%;
    margin: 0;
    flex-wrap: wrap;
}

.second-row-anchor {
    display: flex;
    width: 50%;
    flex-wrap: wrap;

}

.contact {
    display: flex;
    text-align: center;
    flex-direction: column;
    width: 100%;
}

.footer {
    display: flex;
    background-color: var(--charcoal);
    padding: 10px 2px;
    border-top: 5px solid var(--persian-green);
}

@media screen and (max-width: 992px) {
    .about-me {
        width: 100%;
    }
    .portfolio {
        width: 100%;
    }
    .header {
        justify-content: center;
    }
}