:root {
    --charcoal: #264653;
    --persian-green: #2a9d8f;
    --orange-yellow: #e9c46a;
    --sandy-brown: #f4a261;
    --burnt-sienna: #e76f51;
}

* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

html, body {
    margin: 0;
    padding: 0;
}

.header {
    background-color: var(--charcoal);
    padding: 4px 2px;
    border-bottom: 8px solid var(--persian-green);
    color: var(--sandy-brown);
    overflow: auto;
}

.header h1, .header ul {
    vertical-align: middle;
}

.header ul {
    display: flex;
    list-style-type: none;
    padding: 0;
    justify-content: flex-end;
    align-items: center;
}

.header ul li {
    display: inline;
    margin-right: 20px;
    font-size: 20px;

}

.header ul li a{
    color: var(--sandy-brown);
    text-decoration: none;
}

section {
    display: flex;
}

.about-me {
    flex-direction: column;
}

.about-me img {
    height: 200px;
    width: 200px;
}

.portfolio {
    flex-direction: column;
}

.contact {
    text-align: center;
    flex-direction: column;
}